@charset "UTF-8";
/* CSS Document */

/*
Theme: inphecthyuz
Author: Infected-FX
URL: www.infectedfx.net
Country: Mexico
*/

#projectTable {
	margin-left: 7px;
	width: 420px;
	border-width: 8px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #9D9D9D;
	border-collapse: separate;
	margin-bottom: 10px;
}

table {
	border-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #9D9D9D;
	padding: 0px;
	border-style: solid;
	border-color: #E7E7E7;
}

caption {
	font-weight: bold;
	background: #50ADEA url(http://infectedfx.net/css/tables/corner.gif) no-repeat right top;
	border-bottom:2px solid #1975d7;
	color: #FFF;
	text-transform:uppercase;
	padding:10px;
}

td, th {
	padding: 4px;
}

thead th {
	text-align: left;
	background: #F5F5F5;
	color: #666;
	border: 1px solid #FFF;
	text-transform:uppercase;
}

tbody th {
	font-weight: bold;
}

tbody tr		{
	background-color:#FFF; 
	text-align:left;
	
	}
tbody tr.odd 	{
	background: #f9f9f9;
	border-top:1px solid #FFF;
	text-align: left;
}

tbody tr:hover td, tbody tr.odd:hover td{
	background: #FF7575;
}
tbody tr:hover{
	border: 1px solid #333;
}

tbody th a:link, tbody th a:visited{
	color:#96D030;
	background:url(http://infectedfx.net/css/tables/layout.gif) no-repeat; 
	padding:3px 0px 0px 18px;
	}
tbody th a:hover{
	color:#FFF;
	}

tbody tr td { 
	height:40px;
	background: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #E7E7E7;
	}

tbody tr.odd td{ 
	background: #f9f9f9;
	border-top:1px solid #FFF;
	}

tbody td{
	text-align: left;
}



table td a:hover, tbody tr:hover {
	color: #FFF;
	text-decoration: none ;
}
tbody td a[href="http://www.infectedfx.net"] {
	margin: 0 auto;
	height: 15px;
	background: url(http://infectedfx.net/css/tables/ok.gif) no-repeat;
	border-bottom: 0;
	padding:3px 0px 0px 18px;
	font-weight:bold;
	color:#FF8601;
}

table a[title^="Download"] { 
	background: url(http://infectedfx.net/css/tables/down.gif) no-repeat center;
	padding:20px 0px 0px 15px;
}

tbody img {
	border: 0px;
}

tfoot th, tfoot td {
	background-color:#E7E7E7; padding:10px;
	text-align:center; 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:22px; font-weight:bold; font-style:italic;
	border-bottom:3px solid #CCC;
	border-top:1px solid #DFDFDF;
}