<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="{{ page.description }}" />
        <meta name="Keywords" content="{{ page.keywords }}" />
        <link rel="shortcut icon" href="/Images/favicon.ico" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/foundation.min.css" />
        <script src="/js/modernizr.js"></script>
</head>

<body>
	<div class="header">
  	<div id="headerImage">
    	<a href="/index.html"><img src="/Images/logo/MB-logo-lg.jpg" alt="MBBC logo" /></a>  	</div>
    <div class="headerInfo"> &middot; <a href="tel:+8162464800">816.246.4800</a> &middot; <a href="mailto:info@meyerbro.com?subject=Inquiry from website">info@meyerbro.com</a></div>
</div>
    
	
    
  <nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
      <li class="name"><h1><a href="/index.html">Home</a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <section class="top-bar-section">
    <ul class="right">
			<li class="has-dropdown"><a href="#">Affiliates</a>
       	<ul class="dropdown">
         	<li><a href="http://www.meyer-companies.com" target="_blank">Meyer Companies</a></li>
          <li><a href="http://www.meyercomplete.com" target="_blank">Meyer Complete</a></li>
          <li><a href="http://www.mcpower.com" target="_blank">MC Power</a></li>
          <li><a href="http://www.flemingwest.com" target="_blank">Fleming West</a></li>
          <li><a href="http://www.flemingcomplete.com" target="_blank">Fleming Complete</a></li>
          <li><a href="http://www.heise-meyer.com" target="_blank">Heise-Meyer</a></li>            
        </ul>
      </li>
			<li class="has-dropdown"><a href="/projects/index.html">Projects</a>
       	<ul class="dropdown">
          <li class="has-dropdown"><a href="#">Retail</a>
          	<ul class="dropdown">
             	<li><a href="/projects/retail/briarcliff.html">Briarcliff</a></li>
              <li><a href="/projects/retail/blue-ridge-crossing.html">Blue Ridge Crossing</a></li>
              <li><a href="/projects/retail/zr-c.html">Building C-Zona Rosa</a></li>
              <li><a href="/projects/retail/canam-op.html">CanAm OP</a></li>
              <li><a href="/projects/retail/canam-shawnee.html">CanAm Shawnee</a></li>
              <li><a href="/projects/retail/comp-center.html">Comp Center Retail</a></li>
              <li><a href="/projects/retail/eastland.html">Eastland Retail</a></li>
              <li><a href="/projects/retail/heritage-crossing.html">Heritage Crossing</a></li>
              <li><a href="/projects/retail/olathe-pointe.html">Olathe Pointe</a></li>
              <li><a href="/projects/retail/old-navy-zr.html">Old Navy</a></li>
              <li><a href="/projects/retail/shops-at-boardwalk.html">Shops At Boardwalk</a></li>
              <li><a href="/projects/retail/summit-woods.html">Summit Woods Crossing</a></li>
              <li><a href="/projects/retail/arts-billiard.html">Arts Billiard Supply</a></li>
              <li><a href="/projects/retail/mtc.html">Missouri Table Chair</a></li>
            </ul>
          </li> 
          <li class="has-dropdown"><a href="#">Industrial</a>
           	<ul class="dropdown">
             	<li><a href="/projects/industrial/aa-highway.html">AA Highway</a></li>
              <li><a href="/projects/industrial/action-mailing.html">Action Mailing</a></li>
              <li><a href="/projects/industrial/bledsoe-lees-summit.html">Bledsoe Lees Summit</a></li>
              <li><a href="/projects/industrial/durvet.html">Durvet</a></li>
              <li><a href="/projects/industrial/haldex.html">Haldex</a></li>
              <li><a href="/projects/industrial/harmon-manufacturing.html">Harmon Industries</a></li>
              <li><a href="/projects/industrial/johnson-controls.html">Johnson Controls</a></li>
              <li><a href="/projects/industrial/merriam.html">Merriam Public Works</a></li>
              <li><a href="/projects/industrial/viracor.html">ViraCor</a></li>
              <li><a href="/projects/industrial/williamette.html">Williamette Sales</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="#">Dealerships</a>
           	<ul class="dropdown">
             	<li><a href="/projects/dealerships/aristocrat.html">Aristocrat Motors</a></li>
              <li><a href="/projects/dealerships/blue-ridge-mazda.html">Blue Ridge Mazda</a></li>
              <li><a href="/projects/dealerships/dave-cross.html">Dave Cross Motors</a></li>
              <li><a href="/projects/dealerships/extreme-ford.html">Extreme Ford</a></li>
              <li><a href="/projects/dealerships/gails-harley.html">Gail's Harley Davidson</a></li>
              <li><a href="/projects/dealerships/ls-honda.html">Lee's Summit Honda</a></li>
              <li><a href="/projects/dealerships/ls-subaru.html">Lee's Summit Subaru</a></li>
              <li><a href="/projects/dealerships/stadium-nissan.html">Stadium Nissan</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="#">Offices</a>
           	<ul class="dropdown">
             	<li><a href="/projects/offices/ambassador.html">Ambassador Plaza</a></li>
              <li><a href="/projects/offices/bank-america.html">Bank of America</a></li>
              <li><a href="/projects/offices/biz-ex.html">Business Exchange</a></li>
              <li><a href="/projects/offices/harmon.html">Harmon Industries</a></li>
              <li><a href="/projects/offices/johnson-office.html">Johnson Controls</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="#">Religious</a>
           	<ul class="dropdown">
            	<li><a href="/projects/religious/Center-Stake-RLDS.html">Center Stake RLDS</a></li>
              <li><a href="/projects/religious/FUMC-Blue-Springs.html">FUMC Blue Springs</a></li>
              <li><a href="/projects/religious/newlife.html">New Life A/G</a></li>
              <li><a href="/projects/religious/StPeter-UMC.html">St. Peter UMC</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="#">Various</a>
           	<ul class="dropdown">
             	<li><a href="/projects/various/courtyard.html">Courtyard by Marriott</a></li>
              <li><a href="/projects/various/bscc.html">Blue Springs Conference Center</a></li>
              <li><a href="/projects/various/kcwizards.html">Wizards Training Facility</a></li>
              <li><a href="/projects/various/Powell-Gardens.html">Powell Gardens</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="#">Institutional</a>
           	<ul class="dropdown">
             	<li><a href="/projects/institutional/CJCFPD3.html">CJCFPD Station #3</a></li>
              <li><a href="/projects/institutional/CJCFPD4.html">CJCFPD Station #4</a></li>
              <li><a href="/projects/institutional/mays.html">Mays Medical</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="#">Entertainment</a>
           	<ul class="dropdown">
             	<li><a href="/projects/entertainment/hollywood-theater.html">Hollywood Theater</a></li>
              <li><a href="/projects/entertainment/lunar-bowl.html">Lunar Bowl</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="#">Financial</a>
           	<ul class="dropdown">
             	<li><a href="/projects/banks/FCB-Desoto.html">First Community Bank-Desoto</a></li>
              <li><a href="/projects/banks/FCB-Tuilleries.html">First Community Bank-Tuilleries</a></li>
            </ul>
          </li>
          <li><a href="/projects/aviation/index.html">Aviation</a></li>
        </ul>
      </li>
      <li class="has-dropdown"><a href="#">About Us</a>
       	<ul class="dropdown">
       		<li><a href="/about-us/profile.html">Profile</a></li>
          <li class="has-dropdown"><a href="/about-us/what-we-do.html">What We Do</a>
          	<ul class="dropdown">
            	<li><a href="/what-we-do/pre-planning.html">Pre-Construction Planning</a></li>
              <li><a href="/what-we-do/design-build.html">Design-Build</a></li>
              <li><a href="/what-we-do/build-to-suit.html">Build-to-Suit</a></li>
              <li><a href="/what-we-do/tilt-up.html">Tilt-Up Construction</a></li>
              <li><a href="/what-we-do/financing.html">Financial Alternatives</a></li>
              <li><a href="/what-we-do/misc-services.html">Miscellaneous Services</a></li>
            </ul>
          </li>
          <li><a href="/about-us/getting-started.html">Getting Started</a></li>
          <li><a href="/about-us/our-customers.html">Our Customers</a></li>
         	<li><a href="/about-us/mission.html">Mission</a></li>
          <li><a href="/about-us/values.html">Values</a></li>
          <li><a href="/about-us/safety.html">Safety</a></li>	
        </ul>
      <li><a href="/testimonials.html">Testimonials</a></li>      
  		<li><a href="/contact.html">Contact Us</a></li>
      <li><a href="/careers.html">Careers</a></li>
		</ul>
		</section>
	</nav>

           {{ content }}


	<div class="contentFooter">
  	<div class="footerInfo">&copy;2012 &middot; Meyer Brothers Building Company &middot; 800 E 101st Terrace, Suite 120 &middot; Kansas City, MO 64131 &middot; <a href="sitemap.html">Site Map</a><br />
  	  <br />
  	</div>
</div>
<!-- Google Analytics -->
<script src="/js/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
