<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>MBBC :: {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="{{ page.description }}" />
  <meta name="Keywords" content="{{ page.keywords }}" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/Images/favicon.ico" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <script src="{{ site.baseurl }}/js/modernizr.js"></script>
</head>

<body>
  <div class="container">
    <div class="site">
      <header>
        <div id="headerinfo">
          <a href="tel:+8162464800">816.246.4800</a><br/>
          <a href="mailto:info@meyerbro.com?subject=Inquiry from website">info@meyerbro.com</a>
        </div>
        <h1 class="title">
          <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/Images/logo/MB-logo-lg.jpg" alt="MBBC logo" /></a>
        </h1>
      </header>
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name"><h1><a href="{{ site.baseurl }}/index.html">Home</a></h1></li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown"><a href="#">Affiliates</a>
            <ul class="dropdown">
              <li><a href="http://www.meyer-companies.com" target="_blank">Meyer Companies</a></li>
              <li><a href="http://www.meyercomplete.com" target="_blank">Meyer Complete</a></li>
              <li><a href="http://www.mcpower.com" target="_blank">MC Power</a></li>
              <li><a href="http://www.flemingwest.com" target="_blank">Fleming West</a></li>
              <li><a href="http://www.flemingcomplete.com" target="_blank">Fleming Complete</a></li>
              <li><a href="http://www.heise-meyer.com" target="_blank">Heise-Meyer</a></li>            
            </ul>
          </li>
          <li class="has-dropdown"><a href="{{ site.baseurl }}/projects/index.html">Projects</a>
            <ul class="dropdown">
              <li class="has-dropdown"><a href="#">Retail</a>
                <ul class="dropdown">
                  <li><a href="{{ site.baseurl }}/projects/retail/briarcliff.html">Briarcliff</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/blue-ridge-crossing.html">Blue Ridge Crossing</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/zr-c.html">Building C-Zona Rosa</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/canam-op.html">CanAm OP</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/canam-shawnee.html">CanAm Shawnee</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/comp-center.html">Comp Center Retail</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/eastland.html">Eastland Retail</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/heritage-crossing.html">Heritage Crossing</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/olathe-pointe.html">Olathe Pointe</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/old-navy-zr.html">Old Navy</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/shops-at-boardwalk.html">Shops At Boardwalk</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/summit-woods.html">Summit Woods Crossing</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/arts-billiard.html">Arts Billiard Supply</a></li>
                  <li><a href="{{ site.baseurl }}/projects/retail/mtc.html">Missouri Table Chair</a></li>
                </ul>
              </li> 
              <li class="has-dropdown"><a href="#">Industrial</a>
                <ul class="dropdown">
                  <li><a href="{{ site.baseurl }}/projects/industrial/aa-highway.html">AA Highway</a></li>
                  <li><a href="{{ site.baseurl }}/projects/industrial/action-mailing.html">Action Mailing</a></li>
                  <li><a href="{{ site.baseurl }}/projects/industrial/bledsoe-lees-summit.html">Bledsoe Lees Summit</a></li>
                  <li><a href="{{ site.baseurl }}/projects/industrial/durvet.html">Durvet</a></li>
                  <li><a href="{{ site.baseurl }}/projects/industrial/haldex.html">Haldex</a></li>
                  <li><a href="{{ site.baseurl }}/projects/industrial/harmon-manufacturing.html">Harmon Industries</a></li>
                  <li><a href="{{ site.baseurl }}/projects/industrial/johnson-controls.html">Johnson Controls</a></li>
                  <li><a href="{{ site.baseurl }}/projects/industrial/merriam.html">Merriam Public Works</a></li>
                  <li><a href="{{ site.baseurl }}/projects/industrial/viracor.html">ViraCor</a></li>
                  <li><a href="{{ site.baseurl }}/projects/industrial/williamette.html">Williamette Sales</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="#">Dealerships</a>
                <ul class="dropdown">
                  <li><a href="{{ site.baseurl }}/projects/dealerships/aristocrat.html">Aristocrat Motors</a></li>
                  <li><a href="{{ site.baseurl }}/projects/dealerships/blue-ridge-mazda.html">Blue Ridge Mazda</a></li>
                  <li><a href="{{ site.baseurl }}/projects/dealerships/dave-cross.html">Dave Cross Motors</a></li>
                  <li><a href="{{ site.baseurl }}/projects/dealerships/extreme-ford.html">Extreme Ford</a></li>
                  <li><a href="{{ site.baseurl }}/projects/dealerships/gails-harley.html">Gail's Harley Davidson</a></li>
                  <li><a href="{{ site.baseurl }}/projects/dealerships/ls-honda.html">Lee's Summit Honda</a></li>
                  <li><a href="{{ site.baseurl }}/projects/dealerships/ls-subaru.html">Lee's Summit Subaru</a></li>
                  <li><a href="{{ site.baseurl }}/projects/dealerships/stadium-nissan.html">Stadium Nissan</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="#">Offices</a>
                <ul class="dropdown">
                  <li><a href="{{ site.baseurl }}/projects/offices/ambassador.html">Ambassador Plaza</a></li>
                  <li><a href="{{ site.baseurl }}/projects/offices/bank-america.html">Bank of America</a></li>
                  <li><a href="{{ site.baseurl }}/projects/offices/biz-ex.html">Business Exchange</a></li>
                  <li><a href="{{ site.baseurl }}/projects/offices/harmon.html">Harmon Industries</a></li>
                  <li><a href="{{ site.baseurl }}/projects/offices/johnson-office.html">Johnson Controls</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="#">Religious</a>
                <ul class="dropdown">
                  <li><a href="{{ site.baseurl }}/projects/religious/Center-Stake-RLDS.html">Center Stake RLDS</a></li>
                  <li><a href="{{ site.baseurl }}/projects/religious/FUMC-Blue-Springs.html">FUMC Blue Springs</a></li>
                  <li><a href="{{ site.baseurl }}/projects/religious/newlife.html">New Life A/G</a></li>
                  <li><a href="{{ site.baseurl }}/projects/religious/StPeter-UMC.html">St. Peter UMC</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="#">Various</a>
                <ul class="dropdown">
                  <li><a href="{{ site.baseurl }}/projects/various/courtyard.html">Courtyard by Marriott</a></li>
                  <li><a href="{{ site.baseurl }}/projects/various/bscc.html">Blue Springs Conference Center</a></li>
                  <li><a href="{{ site.baseurl }}/projects/various/kcwizards.html">Wizards Training Facility</a></li>
                  <li><a href="{{ site.baseurl }}/projects/various/Powell-Gardens.html">Powell Gardens</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="#">Institutional</a>
                <ul class="dropdown">
                  <li><a href="{{ site.baseurl }}/projects/institutional/CJCFPD3.html">CJCFPD Station #3</a></li>
                  <li><a href="{{ site.baseurl }}/projects/institutional/CJCFPD4.html">CJCFPD Station #4</a></li>
                  <li><a href="{{ site.baseurl }}/projects/institutional/mays.html">Mays Medical</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="#">Entertainment</a>
                <ul class="dropdown">
                  <li><a href="{{ site.baseurl }}/projects/entertainment/hollywood-theater.html">Hollywood Theater</a></li>
                  <li><a href="{{ site.baseurl }}/projects/entertainment/lunar-bowl.html">Lunar Bowl</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="#">Financial</a>
                <ul class="dropdown">
                  <li><a href="{{ site.baseurl }}/projects/banks/FCB-Desoto.html">First Community Bank-Desoto</a></li>
                  <li><a href="{{ site.baseurl }}/projects/banks/FCB-Tuilleries.html">First Community Bank-Tuilleries</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/projects/aviation/index.html">Aviation</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="#">About Us</a>
            <ul class="dropdown">
              <li><a href="{{ site.baseurl }}/about-us/profile.html">Profile</a></li>
              <li class="has-dropdown"><a href="{{ site.baseurl }}/about-us/what-we-do.html">What We Do</a>
                <ul class="dropdown">
                  <li><a href="{{ site.baseurl }}/what-we-do/pre-planning.html">Pre-Construction Planning</a></li>
                  <li><a href="{{ site.baseurl }}/what-we-do/design-build.html">Design-Build</a></li>
                  <li><a href="{{ site.baseurl }}/what-we-do/build-to-suit.html">Build-to-Suit</a></li>
                  <li><a href="{{ site.baseurl }}/what-we-do/tilt-up.html">Tilt-Up Construction</a></li>
                  <li><a href="{{ site.baseurl }}/what-we-do/financing.html">Financial Alternatives</a></li>
                  <li><a href="{{ site.baseurl }}/what-we-do/misc-services.html">Miscellaneous Services</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/about-us/getting-started.html">Getting Started</a></li>
              <li><a href="{{ site.baseurl }}/about-us/our-customers.html">Our Customers</a></li>
              <li><a href="{{ site.baseurl }}/about-us/mission.html">Mission</a></li>
              <li><a href="{{ site.baseurl }}/about-us/values.html">Values</a></li>
              <li><a href="{{ site.baseurl }}/about-us/safety.html">Safety</a></li>	
              <li><a href="{{ site.baseurl }}/careers.html">Careers</a></li>
            </ul>
          <li><a href="{{ site.baseurl }}/testimonials.html">Testimonials</a></li>      
          <li><a href="{{ site.baseurl }}/contact.html">Contact Us</a></li>
        </ul>
        </section>
      </nav>
      <article>
           {{ content }}
      </article>
      <footer class="row">
        <div class="small-7 large-8 columns">
          <p>&copy;2014 &middot; Meyer Brothers Building Company<br/>
          800 E 101st Terrace, Suite 120 &middot; Kansas City, MO 64131<br/>
          <a href="#headerinfo">back to top</a></p>
        </div>
        <div class="small-5 large-4 columns">
          <p>
            <a href="tel:+8162464800">816.246.4800</a><br/>
            <a href="mailto:info@meyerbro.com?subject=Inquiry from website">info@meyerbro.com</a></br>
            <a href="{{ site.baseurl}}/sitemap.html">Site Map</a>
          </p>
        </div>
      </footer>
    </div><!-- /site -->
  </div> <!-- /container -->
  <!-- Google Analytics -->
  <script src="{{ site.baseurl}}/js/jquery.js"></script>
  <script src="{{ site.baseurl}}/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
